<h2>Edit Menu Item</h2>

<form method="POST" enctype="multipart/form-data">

  Name:
  <input type="text" name="name" value="{{item[1]}}" required><br><br>

  Category:
  <select name="category">
    {% for cat in categories %}
      <option value="{{cat[0]}}" {% if cat[0] == item[2] %}selected{% endif %}>
        {{cat[1]}}
      </option>
    {% endfor %}
  </select>
  <br><br>

  Price:
  <input type="number" name="price" value="{{item[3]}}" required><br><br>

  Description:
  <input type="text" name="description" value="{{item[5] if item[5] else ''}}">
  <br><br>

  Current Image:<br>
  {% if item[4] %}
    <img src="{{ url_for('static', filename='uploads/' + item[4]) }}" width="100">
  {% else %}
    No Image
  {% endif %}

  <br><br>
  Change Image:
  <input type="file" name="image"><br><br>

  <button>Update</button>
</form>

<br>
<a href="/menu">Back</a>